{{#if myProducts.length}}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{#each myProducts}}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{image}}" />
            <div class="card-body">
                <p class="card-text fw-bold">{{title}}</p>
                <p class="card-text ">{{description}}</p>
                <div class="auto  d-flex justify-content-between align-items-center">
                    <div class="avatar">
                        <p class="p">{{getFulname user.firstname user.lastname}}</p>
                    </div>
                        <p class="userrr">{{user.firstname}} {{user.lastname}} </p>
                    <div class="">
                        <small class="text-mutod fs-5">{{price}}.00$</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{else}}
<p>products yo'q</p>
{{/if}}